<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.mapper.CompanyMapper">

    <select id="selectCompanyPage" resultType="com.tencent.wxcloudrun.entity.CompanyEntity">
        select * from company
        <where>
            <if test="companyVO.custName!= null and companyVO.custName!= ''">
                and cust_name like concat('%', #{companyVO.custName}, '%')
            </if>
            <if test="companyVO.businessStatus!= null and companyVO.businessStatus!= ''">
                and business_status like concat('%', #{companyVO.businessStatus}, '%')
            </if>
            <if test="companyVO.industryCategory!= null and companyVO.industryCategory!= ''">
                and industry_category like concat('%', #{companyVO.industryCategory}, '%')
            </if>
        </where>

    </select>

    <select id="selectCompanyList" resultType="com.tencent.wxcloudrun.entity.CompanyEntity">
        select * from company
        where 1=1
        <if test="custName != null and custName != ''">
            and cust_name like concat('%', #{custName}, '%')
        </if>
    </select>
    <select id="selectCompanyByLongitudeAndLatitude" resultType="com.tencent.wxcloudrun.entity.CompanyEntity">
        select * from company
        where 1=1
        <if test="longtitudeNortheast != null and longtitudeNortheast != ''">
            and longitude &lt; #{longtitudeNortheast}
        </if>
        <if test="longtitudeSouthwest != null and longtitudeSouthwest != ''">
            and longitude > #{longtitudeSouthwest}
        </if>
        <if test="latitudeNortheast != null and latitudeNortheast != ''">
            and latitude &lt; #{latitudeNortheast}
        </if>
        <if test="latitudeSouthwest != null and latitudeSouthwest != ''">
            and latitude > #{latitudeSouthwest}
        </if>
    </select>

</mapper>
